.title-bar {
  background-color: #dcb439;
  background-image: none;
  border-top: none;
  margin: 0;
  padding-bottom: 0;
}

.navbar-default .title-bar .navbar-brand {
  color: #302205;
}

.navbar-default .title-bar .navbar-nav > li > a {
  color: #302205;
}

.navbar-default .collection-title {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  padding-top: 5em;
  color: #999999;
}

.hesburgh-logo {
  width: 200px;
}
